In [ ]:
2.

In [1]:
import itertools

In [ ]:
#1. How many different ways can you combine the letters from "abc" with the numbers 1, 2, and 3?    #1. How many different ways can you combine the letters from "abc" with the numbers 1, 2, and 3?

(len(list(itertools.combinations("abcd",2))))

In [ ]:
#2. How many different ways can you combine two of the letters from "abcd"?
(len(list(itertools.product([1,2,3],'abc'))))

In [2]:
#How many permutation

(len(list(itertools.permutations("abcd,2"))))

720

In [ ]:
1.

In [14]:
#1. Call the is_vowel and test it

import Python_exercises_downsized  as exercises

exercises.is_consonant("A")

'Vowel'

In [31]:
from Python_exercises_downsized import is_vowel as sec_func

def if_not():
    words = "aeiouAEIOU"

    if words in sec_func:
        print(True)
    else:
        print(False)
        
def if_not("A")

SyntaxError: invalid syntax (1056944862.py, line 11)

In [37]:
def check_letter_in_imported_function(letter_to_check):
    # Call the imported function
    result = vowel()

    # Check if the letter is contained in the result
    if letter_to_check in result:
        return True
    else:
        return False

In [1]:
import importlib

In [3]:
import Python_exercises_downsized  as exercises

In [6]:
# B. Create a file named import_exercises.py. Within this file, 
#use from to import the calculate_tip function directly. 
#Call this function with values you choose and print the result.



exercises.calculate_tip(100, .10)

'$10.0'

In [ ]:
3.

In [ ]:
# C. Create a jupyter notebook named import_exercises.ipynb. 
#Use from to import the get_letter_grade function and give it an alias. 
#Test this function in your notebook.

In [9]:
from Python_exercises_downsized import get_letter_grade as grade

In [11]:
grade(84)

84 is a B

In [6]:
import json

import pandas as pd

In [55]:
df = pd.read_json("profiles.json.txt")
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
_id,54e23c3e46ab53a440b580e8,54e23c3ef5cc0d250968c212,54e23c3e09cc6875638cd36b,54e23c3e54e4094147a3b1da,54e23c3e177caf5567ba87ac,54e23c3eaffbb506aa15ec1c,54e23c3e0fd8074c2ca52667,54e23c3eb112d96e4204914d,54e23c3ef30f14d0e5afddf3,54e23c3ebd80e9c26b057fa3
index,0,1,2,3,4,5,6,7,8,9
guid,9962b468-ef3e-4993-b677-617469bc3008,905f849d-49bf-4a57-b4f3-5d6e4bf1b04c,1b042d48-9cfa-4db5-8b60-4104165591c3,69eb3454-8acc-46f1-a636-c6df00dfb542,97962c85-7700-4ffa-a01e-2fcbc147fd81,fc3e04d1-44c2-449e-891a-d4f8053d14a4,af8d9a03-fde9-4039-b20c-c4708d4cfc3c,95f1c020-f9eb-4a29-b236-e766759d89d0,bde2d56f-2488-40d0-a7d2-21019ee8a18b,75991ca5-05ed-499e-bbb5-f057f86d05d7
isActive,False,False,True,False,False,True,False,False,False,True
balance,"$2,097.02","$3,654.02","$1,536.02","$3,919.64","$3,681.39","$1,694.42","$1,214.10","$2,930.31","$1,944.15","$2,839.22"
picture,http://placehold.it/32x32,http://placehold.it/32x32,http://placehold.it/32x32,http://placehold.it/32x32,http://placehold.it/32x32,http://placehold.it/32x32,http://placehold.it/32x32,http://placehold.it/32x32,http://placehold.it/32x32,http://placehold.it/32x32
age,39,30,31,20,39,30,35,23,25,37
eyeColor,blue,green,brown,green,green,brown,green,blue,green,blue
name,Hebert Estes,Allison Wynn,Jacobs Floyd,Fay Hammond,Chasity Marsh,Camacho Cortez,Avery Flynn,Michael Cash,Madeleine Bray,Corine French
gender,male,male,male,female,female,male,male,male,female,female
company,ANDRYX,PHARMACON,QUONK,INRT,WAZZU,EARTHWAX,TERSANKI,ORBIXTAR,KIDSTOCK,INTRAWEAR
email,hebertestes@andryx.com,allisonwynn@pharmacon.com,jacobsfloyd@quonk.com,fayhammond@inrt.com,chasitymarsh@wazzu.com,camachocortez@earthwax.com,averyflynn@tersanki.com,michaelcash@orbixtar.com,madeleinebray@kidstock.com,corinefrench@intrawear.com
phone,+1 (866) 456-2268,+1 (926) 525-3131,+1 (853) 537-3315,+1 (922) 429-2592,+1 (976) 425-2362,+1 (869) 528-2019,+1 (966) 404-2471,+1 (996) 439-3660,+1 (820) 541-2969,+1 (987) 573-3164
address,"121 Emmons Avenue, Klondike, Kentucky, 5975","724 Brevoort Place, Lodoga, Indiana, 3880","941 Cox Place, Bluffview, Georgia, 5882","518 Randolph Street, Whitestone, Arizona, 8189","604 Just Court, Eastvale, Federated States Of ...","101 Haring Street, Nicut, Louisiana, 1473","569 Oakland Place, Beyerville, Puerto Rico, 2395","808 Duryea Court, Downsville, Northern Mariana...","684 Stratford Road, Rosine, District Of Columb...","964 Clara Street, Snyderville, Oklahoma, 3627"
about,Sit cillum deserunt irure laboris tempor fugia...,Esse quis cillum sunt occaecat ad et eu incidi...,Deserunt adipisicing proident exercitation cil...,Aliqua sunt exercitation quis cupidatat fugiat...,Irure excepteur consequat esse qui tempor dese...,Qui ad commodo elit voluptate cupidatat exerci...,Minim consequat anim ad et tempor et pariatur ...,Minim proident minim consectetur nostrud dolor...,Ullamco ea esse ullamco commodo quis amet ut a...,Sint cillum laborum labore duis fugiat volupta...
registered,2014-11-10T01:44:03 +06:00,2014-06-10T13:41:26 +05:00,2014-07-30T03:17:32 +05:00,2015-01-30T08:05:38 +06:00,2014-07-31T06:03:19 +05:00,2014-03-17T12:04:00 +05:00,2014-04-13T10:25:03 +05:00,2014-05-24T17:56:54 +05:00,2014-08-11T08:54:06 +05:00,2014-06-25T20:17:13 +05:00
latitude,-80.157843,55.737207,30.215667,33.825844,-31.660978,74.434627,-89.879409,-86.621367,45.118798,-37.637422
longitude,161.93016,-167.177561,68.831905,-65.969538,37.559095,69.527088,143.441709,-4.06197,-7.698707,154.195523
tags,"[sit, occaecat, non, ea, sit, laboris, exercit...","[enim, officia, laboris, irure, veniam, occaec...","[est, aute, laborum, sint, anim, sit, consecte...","[aliqua, esse, sint, pariatur, commodo, do, anim]","[aliquip, duis, irure, amet, aliquip, dolore, ...","[et, sit, in, id, ullamco, elit, laborum]","[quis, esse, Lorem, minim, nostrud, voluptate,...","[eu, sit, dolore, culpa, Lorem, in, esse]","[id, magna, excepteur, excepteur, excepteur, d...","[laboris, in, dolore, mollit, velit, laboris, ..."
friends,"[{'id': 0, 'name': 'Tanisha Leonard'}, {'id': ...","[{'id': 0, 'name': 'Curry Cox'}, {'id': 1, 'na...","[{'id': 0, 'name': 'Robles Chan'}, {'id': 1, '...","[{'id': 0, 'name': 'Dudley Booker'}, {'id': 1,...","[{'id': 0, 'name': 'Kristina Glover'}, {'id': ...","[{'id': 0, 'name': 'Sexton Tillman'}, {'id': 1...","[{'id': 0, 'name': 'Ball Henson'}, {'id': 1, '...","[{'id': 0, 'name': 'Rodgers Nolan'}, {'id': 1,...","[{'id': 0, 'name': 'Herrera Doyle'}, {'id': 1,...","[{'id': 0, 'name': 'Greta Hill'}, {'id': 1, 'n..."
greeting,"Hello, Hebert Estes! You have 4 unread messages.","Hello, Allison Wynn! You have 19 unread messages.","Hello, Jacobs Floyd! You have 5 unread messages.","Hello, Fay Hammond! You have 10 unread messages.","Hello, Chasity Marsh! You have 9 unread messages.","Hello, Camacho Cortez! You have 19 unread mess...","Hello, Avery Flynn! You have 13 unread messages.","Hello, Michael Cash! You have 17 unread messages.","Hello, Madeleine Bray! You have 2 unread messa...","Hello, Corine French! You have 18 unread messa..."
favoriteFruit,strawberry,apple,apple,banana,apple,apple,banana,strawberry,strawberry,banana

In [11]:
df.isActive.value_counts()   #Total number of users is 19

isActive
False    10
True      9
Name: count, dtype: int64

In [ ]:
#Total number of inactive iusers is 9

In [ ]:
#Total number of inactive iusers is 10

In [20]:
#df['balance'] = df['balance'].str.replace(',', '').str.replace('$', '').astype(float)

#Equivalant to balances = [profile['balance'] for profile in profiles]
# balances = [balance.replace(',', '') for balance in balances]
#balances = [balance.replace('$', '') for balance in balances]
#balances = [float(balance) for balance in balances]
#sum(balances)

In [22]:
#df.info()

In [23]:
df.balance.sum()  #sum of all users

52667.02

In [24]:
df.balance.mean()   #Avg balance per user

2771.9484210526316

In [32]:
df.balance.min() #1214.1

# Money value to search for
target_balance_value = 1214.1

# Locate rows with the target money value
desired_row = df[df['balance'] == target_balance_value]

print(desired_row)

#df.balance.idxmin #This will return the indexes to discover the min
#de.iloc[6]  #This will display the entire row/ additional information relatedto teh min value

1214.1

In [85]:
df.balance.max()

df.balance.idxmax #This will return the indexes to discover the min
df.iloc[3]  #This will display the entire row/ additional information relatedto teh min value

_id                                       54e23c3e54e4094147a3b1da
index                                                            3
guid                          69eb3454-8acc-46f1-a636-c6df00dfb542
isActive                                                     False
balance                                                  $3,919.64
picture                                  http://placehold.it/32x32
age                                                             20
eyeColor                                                     green
name                                                   Fay Hammond
gender                                                      female
company                                                       INRT
email                                          fayhammond@inrt.com
phone                                            +1 (922) 429-2592
address             518 Randolph Street, Whitestone, Arizona, 8189
about            Aliqua sunt exercitation quis cupidatat fugiat...
registered                              2015-01-30T08:05:38 +06:00
latitude                                                 33.825844
longitude                                               -65.969538
tags             [aliqua, esse, sint, pariatur, commodo, do, anim]
friends          [{'id': 0, 'name': 'Dudley Booker'}, {'id': 1,...
greeting          Hello, Fay Hammond! You have 10 unread messages.
favoriteFruit                                               banana
Name: 3, dtype: object

In [49]:
df.favoriteFruit.value_counts()  #Strawberry is the most common fruit

                                #Banana is the least common fruit

favoriteFruit
strawberry    9
apple         6
banana        4
Name: count, dtype: int64

In [68]:
list1 = [4,19,5,10,9,19,13,17,2,18,2,13,7,13,12,7,19,5,16] #Total number of unread messages
import numpy as np


total=0
for ele in range(0, len(list1)):
    total = total + list1[ele]
    
print(total)

210

In [ ]:
#def extract_digits(s):
 #   result = ""
  #  for c in s:
   #     if c.isdigit():
    #        result += c
    #return result

#n_unread_messages = 0

#for profile in profiles:
 #   greeting = profile['greeting']
  #  n_unread_messages += int(extract_digits(greeting))

#print(n_unread_messages)

In [56]:
df.greeting

0      Hello, Hebert Estes! You have 4 unread messages.
1     Hello, Allison Wynn! You have 19 unread messages.
2      Hello, Jacobs Floyd! You have 5 unread messages.
3      Hello, Fay Hammond! You have 10 unread messages.
4     Hello, Chasity Marsh! You have 9 unread messages.
5     Hello, Camacho Cortez! You have 19 unread mess...
6      Hello, Avery Flynn! You have 13 unread messages.
7     Hello, Michael Cash! You have 17 unread messages.
8     Hello, Madeleine Bray! You have 2 unread messa...
9     Hello, Corine French! You have 18 unread messa...
10    Hello, Trudy Cummings! You have 2 unread messa...
11     Hello, Peggy Mayer! You have 13 unread messages.
12      Hello, Chan Hurley! You have 7 unread messages.
13       Hello, Diaz Pena! You have 13 unread messages.
14    Hello, Heath Castaneda! You have 12 unread mes...
15    Hello, Greer Blankenship! You have 7 unread me...
16    Hello, Coffey Hayes! You have 19 unread messages.
17     Hello, Leanne Hurst! You have 5 unread messages.
18    Hello, Ewing Larson! You have 16 unread messages.
Name: greeting, dtype: object

In [69]:
df.tags.unique  #Total number of unique tags is 18

<bound method Series.unique of 0     [sit, occaecat, non, ea, sit, laboris, exercit...
1     [enim, officia, laboris, irure, veniam, occaec...
2     [est, aute, laborum, sint, anim, sit, consecte...
3     [aliqua, esse, sint, pariatur, commodo, do, anim]
4     [aliquip, duis, irure, amet, aliquip, dolore, ...
5             [et, sit, in, id, ullamco, elit, laborum]
6     [quis, esse, Lorem, minim, nostrud, voluptate,...
7             [eu, sit, dolore, culpa, Lorem, in, esse]
8     [id, magna, excepteur, excepteur, excepteur, d...
9     [laboris, in, dolore, mollit, velit, laboris, ...
10    [aute, occaecat, ea, pariatur, consectetur, ma...
11        [commodo, esse, ad, ullamco, ea, sint, ipsum]
12      [minim, veniam, sit, aute, irure, non, eiusmod]
13    [excepteur, elit, ullamco, excepteur, ad, quis...
14    [elit, commodo, ut, ullamco, ullamco, velit, u...
15    [enim, eiusmod, Lorem, reprehenderit, nisi, an...
16    [duis, est, in, officia, nostrud, occaecat, mo...
17    [culpa, deserunt, tempor, quis, reprehenderit,...
18    [Lorem, magna, dolor, aliquip, reprehenderit, ...
Name: tags, dtype: object>